<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="https://sites.google.com/site/nathanivijay/">Myself</a></li>
	        	<li><a href="http://caretrainings.co.in/">Company</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
 		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nathani.vijay@gmail.com">Email</a></li>
        		<li><a href="https://www.youtube.com/user/nathanivijay/videos">Youtube</a></li>
        		<li><a href="/blog/">Blog</a></li>
			</ul>
		</footer>
	</body>
</html>
